newClient=TallerFTP
user=admin
password=password
passRequired=Please specify the password
loginFailed=Login incorrect
loginSuccess=Login successful
clientNotLogged=Please login with USER and PASS
currentDirectoryMsg="/home/admin/ftp" is the current directory
listBegin=Here comes the directory listing
listEnd=Directory send OK
systemInfo=Nothing
commands=USER PASS SYST LIST HELP PWD MKD RMD
mkdSuccess=created
mkdFailed=Create directory operation failed
rmdSuccess=Remove directory operation successful
rmdFailed=Remove directory operation failed
unknownCommand=Unknown command
quitSuccess=Goodbye
